body {
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

.about {
    float: right;
    font-size: 18px;
}

.sidebar {
    color: grey;
    float: left;
    position: fixed;
    top: 80px;
    left: 20px;
}

.sidebar a {
    color: grey;
    text-decoration: none;
}

.title {
    position: relative;
    left: 40px;
    width: 95px;
    font-family: 'Bitter', serif;
    font-size: 24px;
    border-bottom: 5px solid #5bf26e;
    margin-bottom: 50px;
}

.menu-item {
    margin: 30px 0px;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}

.menu-item a {
    color: grey;
    text-decoration: none;
}

.content {
    float: left;
}

.sub-article {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    position: relative;
    top: 50px;
    left: 250px;
    margin: 25px auto;
    height: 250px;
    width: 400px;
    background-color: grey;
    overflow: hidden;
}

.sub-article img {
    width: 100%;
}

.sub-article-title {
    width: 100%;
    padding: 10px 0px;
    font-weight: bold;
    display: block;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    background-color: white;
    opacity: 0.8;
    text-align: center;
}

.sub-article-title a {
    color: black;
    text-decoration: none;
}

.right-sidebar {
    color: grey;
    float: left;
    position: fixed;
    top: 80px;
    left: 700px;
}

.article {
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 50px;
    left: 200px;
    width: 650px;
    background-color: white;
    padding-bottom: 25px;
    margin-bottom: 50px;
}

.article-image {
    width: 100%;
    margin: auto;
    height: 300px;
    overflow: hidden;
}

.article-image img {
    width: 100%;
}

.article-title {
    width: 80%;
    margin: auto;
    font-weight: bold;
    display: block;
    font-size: 24px;
    padding-top: 10px;
    border-bottom: 2px solid grey;
}

.article-content {
    width: 80%;
    font-weight: normal;
    font-size: 16px;
    margin: auto;
    margin-top: 20px;
    display: block;
    line-height: 2;
}

.profile-container {
    width: 300px;
    position: relative;
    top: 50px;
    left: 300px;
    text-align: center;
}

#about-me {
    margin-top: 20px;
    font-size: 40px;
    color: grey;
}

#profile-photo {
    width: 300px;
}

#profile-photo img {
    width: 100%;
    border-radius: 300px;
}
